<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="#">chordthing</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Items -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#aboutModal">About</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- \Navbar -->

    <!-- About modal -->
    <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="aboutModalLabel">About</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h5><%= htmlWebpackPlugin.options.title %> <span id="aboutVersion">v<%= htmlWebpackPlugin.options.version %></span></h6>
            <hr>
            <img src="<%= require('../img/GitHub-Mark-32px.png') %>">
            <a href="https://github.com/ifons42/chordthing">Github repo</a>
          </div>
        </div>
      </div>
    </div>
    <!-- \About modal -->

    <!-- App -->
    <div class="container-fluid" id="app">
      <div class="row no-gutters">
        <div class="col-3 app-col" id="sidebar">
          Sidebar
        </div>
        <div class="col-9 app-col" id="editor">
          Editor
        </div>
      </div>
    </div>
    <!-- \App -->
  </body>
</html>
