<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="aboutModalLabel">About</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>{{ title }} <span id="aboutVersion">v{{ version }}</span></h6>
        <hr>
        <p>Made by Jonah Hamer-Wilson, Ivan Fonseca <span id="nathan"> and Nathan Schmidt</span></p>
        <hr>
        <img src="{{ githubImage }}">
        <a href="https://github.com/ifons42/chordthing">Github repo</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
