<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="helpModalLabel">chordthing Help</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>chordthing is a simple editor for creating and listening to chords.</p>
        <p>Chords are added by pressing the "Add chord" button in the editor. The new chord will be added to the end of the list of chords.</p>
        <p>Each chord has it's notation in a textbox, along with tab notation below. To change the chord, you may edit the notation in the textbox according to the following rules: </p>
        <ul>
          <li>The root note (A..G) must be uppercase</li>
          <li>Seperate every item with spaces</li>
          <li><strong>#</strong> indicates sharp</li>
          <li><strong>b</strong> (lowercase B) indicates flat</li>
          <li><strong>m</strong> (lowercase) indicates minor</li>
          <li><strong>maj</strong> (lowercase) indicates major</li>
          <li><strong>sus</strong> (lowercase) indicates suspended</li>
          <li><strong>dim</strong> (lowercase) indicates diminished</li>
          <li><strong>aug</strong> (lowercase) indicates augmented</li>
          <li><strong>add</strong> (lowercase) indicates extensions</li>
          <li>Variations on the root chord: m, 6, m6, 69, 7, m7, maj7, 7b5, 7#5, m7b5,
            7b9, 9, m9, maj9, add9, 13, sus2, sus4, dim, dim7, aug</li>
        </ul>
        <p>There is more information on notation avaible at the <a href="http://jtab.tardate.com/">jTab website</a>.</p>
        <p>Each chord has a red delete button beside it to remove it from the list.</p>
        <p>Pressing the "play" button in the editor will play the chords.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
