<form id="options">
  <h5>Project Options</h5>
  <div class="form-group">
    stuff
  </div>
  <hr>
  <h5>Advanced Options</h5>
  <div class="form-group">
    <input type="checkbox" class="form-check-input" id="debug-logging-check">
    <label class="form-check-label" for="debug-logging-check">Enable debug logging</label>
  </div>
</form>
