<h4>Project Options</h4>
<hr>
<div class="container">
  <div class="form-group">
    <input value="" class="form-control form-control-lg" placeholder="Project Name" id="setting-project-name" type="text">
    <br>

    <label for="setting-instrument-select">Instrument</label>
    <select class="form-control" id="setting-instrument-select">
      <option data-instrument="acoustic_guitar_nylon">Acoustic Guitar</option>
      <option data-instrument="acoustic_grand_piano">Grand Piano</option>
      <option data-instrument="acoustic_bass">Acoustic Bass</option>
      <option data-instrument="electric_guitar_clean">Electric Guitar</option>
      <option data-instrument="electric_piano_1">Electric Piano</option>
      <option data-instrument="alto_sax">Alto Saxophone</option>
      <option data-instrument="trumpet">Trumpet</option>
      <option data-instrument="celesta">Celesta</option>
      <option data-instrument="bird_tweet">Bird Tweets</option>
      <option data-instrument="clavinet">Clavinet</option>
      <option data-instrument="helicopter">Helicopter</option>
      <option data-instrument="tuba">Tuba</option>
    </select>

    <div class="form-row">
      <div class="col">
        <label for="setting-note-delay">Note Delay (ms)</label>
        <input class="form-control" id="setting-note-delay" value="50" min="0" max="500" type="number">
      </div>

      <div class="col">
        <label for="setting-chord-delay">Chord Delay (ms)</label>
        <input class="form-control" id="setting-chord-delay" value="1000" min="500" max="2000" type="number">
      </div>
    </div>
  </div>
</div>
<br>
<h4>Advanced Options</h4>
<hr>
<div class="container">
  <div class="form-group">
    <input type="checkbox" class="form-check-input" id="debug-logging-check">
    <label class="form-check-label" for="debug-logging-check">Enable debug logging</label>
  </div>
</div>
