<h4>Project Options</h4>
<hr>
<div class="container">
  <div class="form-group">
    <fieldset>
      <input value="" class="form-control form-control-lg" placeholder="Project Name" id="setting-project-name" type="text">
    </fieldset>
  </div>
</div>
<br>
<h4>Advanced Options</h4>
<hr>
<div class="container">
  <div class="form-group">
    <input type="checkbox" class="form-check-input" id="debug-logging-check">
    <label class="form-check-label" for="debug-logging-check">Enable debug logging</label>
  </div>
</div>
