<form id="options">
  <h5>Project Options</h5>
  <div class="form-group">
    stuff
  </div>
  <hr>
  <h5>Advanced Options</h5>
  <div class="form-group">
    <input type="checkbox" class="form-check-input" id="debug-logging-check">
    <label class="form-check-label" for="debug-logging-check">Enable debug logging</label>
  </div>
  <div class="chord-input">
    <!--form with text boxes-->
    <input type="text" name="chord1">
    <input type="text" name="chord2">
    <input type="text" name="chord3">
    <input type="text" name="chord4">
    <input type="text" name="chord5">
    <input type="text" name="chord6">
    <input type="text" name="chord7">
    <input type="text" name="chord8">
  </div> 
</form>
