<h4>Project Options</h4>
<hr>
<div class="container">
  <div class="form-group">
    <input value="" class="form-control form-control-lg" placeholder="Project Name" id="setting-project-name" type="text">
    <label for="setting-instrument-select">Instrument</label>
    <select class="form-control" id="setting-instrument-select">
      <option>Acoustic Guitar</option>
      <option>Grand Piano</option>
      <option>Acoustic Bass</option>
      <option>Electric Guitar</option>
      <option>Electric Piano</option>
      <option>Alto Saxophone</option>
      <option>Trumpet</option>
    </select>
  </div>
</div>
<br>
<h4>Advanced Options</h4>
<hr>
<div class="container">
  <div class="form-group">
    <input type="checkbox" class="form-check-input" id="debug-logging-check">
    <label class="form-check-label" for="debug-logging-check">Enable debug logging</label>
  </div>
</div>
