@import "~bootswatch/dist/superhero/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/superhero/bootswatch";

@import "./globals";

@import "./sidebar";
@import "./editor";

hr {
  color: $secondary-colour;
}

// About modal
div#aboutModal {
  span#aboutVersion {
    font-size: 1rem;
    color: $secondary-colour;
  }
}

// App
div#app {
  // Sidebar & editor
  div.row > div {
    margin-top: 10px;
    padding-top: 20px;
    border: 1px solid $secondary-colour;
  }
}

