@import "../../node_modules/bootswatch/dist/superhero/variables";
@import "~bootstrap/scss/bootstrap";
@import "../../node_modules/bootswatch/dist/superhero/bootswatch";

$secondary-colour: lightslategray;

// About modal
div#aboutModal {
  span#aboutVersion {
    font-size: 1rem;
    color: $secondary-colour;
  }
}

// App
div#app {
  // Sidebar & editor
  div.app-col {
    margin-top: 15px;
    border: 1px solid $secondary-colour;
  }

  // Sidebar
  div#sidebar {
    form#options {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

}

